body {
    font-family: 'Courier New', monospace;
    background-color: #0555E9;
    color: #BFE0D7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #0555E9;
    padding: 20px;
    border: 1px solid #BFE0D7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow-x: auto; /* Enable horizontal scrolling when content overflows */
}

table {
    width: 100%; /* Make the table take up 100% of the container width */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #BFE0D7;
    padding: 10px;
    width: 10%; /* Set a percentage-based width for the columns */
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px; /* Set the width of your logo */
    height: auto; /* Maintain the aspect ratio of the logo */
	opacity: 0.5;
}

/* Rest of your styles... */